<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <%- include("partials/nav") -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <!-- Bootstrap JS and dependencies -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>